body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --mainTextLight: black;
  --secondaryTextLight: #3d5a80;
  --lightTextLight: #f2e9e4;
  --mediumTextLight: #a26c6a;
  --footerTextLight: #454357;
  --textWhite: white;
}

#header {
  display: flex;
  background-color: var(--lightTextLight);
  height: 40rem;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: left;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
}

.info-sign {
  margin-left: 10px;
  font-size: 1rem;
  top: 0;
  right: 0;
}


.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('../images/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked+.slider {
  background-color: var(--mainTextDark);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--mainTextDark);
}

input:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('../images/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

[data-theme="light"] {
  .btn-light {
    color: var(--mainTextLight);
    background-color: var(--textWhite);
    border-color: var(--lightTextLight);
    font-weight: 700;
    -webkit-box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 12px -4px rgba(0, 0, 0, 1);
  }
}

.jumbotron {
  h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: var(--mainTextLight);

    .text-header {
      font-weight: bold;
      color: var(--secondaryTextLight);
    }
  }
}

.jumbotron {
  .second-text-header {
    color: black;
    font-size: 3rem;
  }
}

.about-span {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--lightTextLight)
}

#about h2,
#contact h2 {
  text-align: center;
  color: var(--textWhite);
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

#about,
#contact {
  background-color: var(--secondaryTextLight);
  color: var(--textWhite);
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-about,
.btn-contact {
  color: var(--textWhite);
  background-color: var(--mainTextLight);
  border-color: var(--secondaryTextLight);
  font-weight: 500;
}

.btn-about:hover,
.btn-about:focus,
.btn-about:active,
.btn-about.active,
.open>.dropdown-toggle.btn-about,
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active,
.open>.dropdown-toggle.btn-contact {
  color: var(--textWhite);
  background-color: var(--mediumTextLight);
  border-color: var(--mediumTextLight);
}

.btn-project,
.btn-outline-header {
  color: var(--textWhite);
  background-color: var(--secondaryTextLight);
  border-color: var(--secondaryTextLight);
  font-weight: 500;
}

.btn-project:hover,
.btn-project:focus,
.btn-project:active,
.btn-project.active,
.open>.dropdown-toggle.btn-project,
.btn-outline-header:hover,
.btn-outline-header:focus,
.btn-outline-header:active,
.btn-outline-header.active,
.open>.dropdown-toggle.btn-outline-header {
  color: var(--textWhite);
  background-color: var(--mainTextLight);
  border-color: var(--mainTextLight);
}

.profile-image,
.project1-image,
.project2-image,
.project3-image {
  display: block;
  margin: auto;
  border-radius: 5px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.75s ease;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.44);
}

.profile-image:hover,
.project1-image:hover,
.project2-image:hover,
.project3-image:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}

#projects {
  background-color: var(--textWhite);
  color: var(--mainTextLight);
  font-size: 1rem;
  padding-top: 2rem;
}

#projects h2 {
  text-align: center;
  color: var(--secondaryTextLight);
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 2rem;
  font-size: 2.5rem;
}

#projects h3 {
  text-align: left;
  color: var(--secondaryTextLight);
  font-weight: 700;
  padding-bottom: 1rem;
}

.project1-image,
.project2-image,
.project3-image,
.profile-image {
  width: 100%;
  height: auto;
  margin: auto;
}

#projects .project-wrapper .row {
  padding-bottom: 5rem;
  margin-left: 0;
  align-items: center;
  justify-content: center;
}

.project-wrapper-image {
  display: block;
  margin: auto;
}

.contact-wrapper {
  text-align: center;
}

footer {
  background-color: var(--footerTextLight);
  padding: 3rem 0;
  color: var(--lightTextLight);
}

footer p {
  color: var(--lightText);
  margin-top: 1.5rem;
  font-weight: 200;
}

.footer-text a:hover {
  text-decoration: underline;
  color: var(--lightTextLight);
}

.footer-text a {
  color: var(--lightTextLight);
}

.back-to-top i {
  color: var(--lightTextLight);
  margin: 1rem 0;
  display: grid;
  place-items: center;
}

.back-to-top li {
  display: inline-block;
  align-items: center;
}

.back-to-top:hover {
  text-decoration: none;
}

.social-links {
  display: grid;
  place-items: center;
}

.social-links i {
  color: var(--lightTextLight);
}

.social-links li {
  display: inline-block;
  align-items: center;
}

.social-links li.grow {
  transition: all .2s ease-in-out;
}

.social-links li.grow:hover {
  transform: scale(1.5);
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.5);
}

.social-links li.grow a:hover {
  text-decoration: none;
}

.social-links .ul {
  text-decoration: none;
}